*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 800ms;
}
body
{
    overflow-x: hidden;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
    display: flex;
    padding: .5rem 1rem;
}
#nav
{
    display: flex;
    list-style: none;
    gap: 30px;
    width: fit-content;
    margin: auto;
}
#nav a
{
    text-decoration: none;
    color: black;
    transition: all 500ms;
    cursor: pointer;
}
#nav a:hover
{
    color:  white;
}
#logo
{
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    margin-left: 0;
    background-color: rgb(0, 0, 0);
}
#btn-list svg
{
    width: 2rem;
    height: 2rem;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color:black;
    border-radius: 8px;
  }
#btn-list
{
     margin-right: 0rem;
     background-color: transparent;
     border: none;
     outline: none;
     display: none;
     cursor: pointer;
}
#list
{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 10rem;
    border-radius: 10px;
    position: fixed;
    top: -1rem;
    left: 10rem;
    padding: .5rem 4rem 1rem 4rem;
    opacity: 0;
    overflow: hidden;
}
#list a
{
    text-decoration: none;
    color: white;
    width:5rem;
    padding: .2rem .4rem;
}
:has(#list-check:checked) #list
{
    animation: show_list ease-out forwards  800ms ;
}
@keyframes show_list
{
    0%
    {
        height: 0rem;
    }
    25%
    {
        opacity: .25;
        height: 3rem;
        top: -1rem;
    }
    50%
    {
        opacity: .50;
        height: 7rem;
        top: -3rem;
    }
    100%
    {
        opacity: 1;
        height: fit-content;
        top: -6rem;
    }
}
@media screen and (max-width: 768px) {
    #btn-list
    {
        display: block;
        width: fit-content;
        margin-left: 70%;
    }
    #nav
    {
        display: none;
    }
  }
  @media (min-width: 768px) and (max-width: 1000px) {
    #btn-list
    {
        display: none;
    }
  }