* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 800ms;
}
@font-face {
  font-family: "gfont";
  src: url("Whisper-Regular.ttf") format("truetype");
}

body {
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: transparent;
  display: flex;
  padding: 0.5rem 1rem;
  z-index: 9999;
}
#nav {
  display: flex;
  list-style: none;
  gap: 30px;
  width: fit-content;
  margin: auto;
}
#nav a {
  text-decoration: none;
  color: black;
  transition: all 500ms;
  cursor: pointer;
}
#nav a:hover {
  color: white;
}
#logo {
  width: 6rem;
  height: 4rem;
  border-radius: 5px;
  position: relative;
  left: 36.5rem;
}
#btn-list svg {
  width: 2rem;
  height: 2rem;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 8px;
}
#btn-list {
  margin-right: 0rem;
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
  cursor: pointer;
}
#list {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 10rem;
  border-radius: 10px;
  position: fixed;
  z-index: 9999;
  top: -1rem;
  left: 10rem;
  padding: 0.5rem 4rem 1rem 4rem;
  opacity: 0;
  overflow: hidden;
}
#list a {
  text-decoration: none;
  color: white;
  width: 5rem;
  padding: 0.2rem 0.4rem;
}
:has(#list-check:checked) #list {
  animation: show_list ease-out forwards 800ms;
}
@keyframes show_list {
  0% {
    height: 0rem;
  }
  25% {
    opacity: 0.25;
    height: 3rem;
    top: -1rem;
  }
  50% {
    opacity: 0.5;
    height: 7rem;
    top: -3rem;
  }
  100% {
    opacity: 1;
    height: fit-content;
    top: -6rem;
  }
}
#slider_w {
  position: fixed;
  z-index: 9999;
  top: 5.5rem;
  pointer-events: none;
}
#cont_s {
  display: flex;
  position: relative;
  z-index: 2;
  width: 100%;
  overflow-x: auto;
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  scroll-snap-type: x mandatory;
}

.igcont {
  scroll-snap-align: center;
  margin-right: 10px;
}

.igcont img {
  width: 100vw;
  height: 40rem;
  border-radius: 5px;
}
#cont_s::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

#cont_s::-webkit-scrollbar-thumb {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  border-radius: 10px;
}
#title {
  font-family: "gfont";
  font-size: 2rem;
  position: absolute;
  width: 45vw;
  z-index: 2;
  color: black;
  top: 13rem;
  left: 25rem;
  pointer-events: none;
}
.arow {
  font-size: 3rem;
  color: silver;
  pointer-events: none;
}
#des {
  background-color: rgb(18, 18, 18);
  width: 100vw;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -1rem;
  position: relative;
  overflow: hidden;
}
#t_desc {
  font-size: 3rem;
  color: white;
  width: fit-content;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
}
#desc {
  width: 70%;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  margin: auto;
}
#cont_img {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  gap: 10px;
  width: fit-content;
  margin: auto;
}
.span {
  width: 20rem;
  height: 30rem;
  grid-row: span 2;
}
.imgs {
  width: 20rem;
}
#des * {
  position: relative;
  z-index: 2;
}
.border-r {
  width: 60vw;
  height: 50vw;
  border-radius: 36% 64% 60% 40% / 41% 43% 57% 59%;
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
  filter: brightness(0.2);
}
#c1 {
  position: fixed;
  z-index: 1;
  top: 20rem;
  left: 30rem;
}
#c2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  position: fixed;
  z-index: 1;
  top: -2rem;
  left: -3rem;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 2rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-contact,
.footer-social,
.footer-links {
  flex: 1;
  margin-bottom: 20px;
}

.footer-contact h3,
.footer-social h3,
.footer-links h3 {
  color: #fff;
  font-size: 18px;
}

.footer-contact p,
.footer-social ul,
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-social ul li,
.footer-links ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social ul li a,
.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 500ms;
}
.footer-social ul li a:hover,
.footer-links ul li a:hover {
  color: rgb(88, 88, 88);
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  #c2 {
    top: 33rem;
  }
  #c1 {
    top: 40rem;
    left: 13rem;
  }
  #cont_img {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
    margin-left: -0.5rem;
  }
  .span {
    width: 20rem;
    height: auto;
    grid-row: auto;
  }
  #t_desc {
    font-size: 2.5rem;
    text-align: center;
  }
  #slider_w {
    top: 4rem;
  }
  #logo {
    width: 4rem;
    height: 3rem;
    border-radius: 5px;
    position: static;
  }
  #btn-list {
    display: block;
    width: fit-content;
    margin-left: 70%;
  }
  #nav {
    display: none;
  }
  .igcont img {
    width: 88vw;
    height: 32rem;
    border-radius: 5px;
  }
  #title {
    top: 6rem;
    left: 7rem;
  }
  .arow {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  #c1 {
    z-index: 1;
    top: 110rem;
    left: 30rem;
  }
  #cont_img {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
    margin-left: 2rem;
  }
  #btn-list {
    margin-left: 80%;
  }
  #list {
    left: 33rem;
  }
  .igcont img {
    width: 95vw;
    height: 35rem;
    border-radius: 5px;
  }
  #title {
    top: 11rem;
    left: 17rem;
  }
}
